/* header elements */
h1,h2,p {
    text-align: center;
    color: #ffff;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

hr {
    box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.75); 
    /* box-shadow: horizontal offset, vertical offset, blur, spread, color */
    -webkit-box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.75);
    -moz--webkit-box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.75);
}

body {
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.established {
    font-style: italic;
}

.coffeeMenu {
    max-width: 500px;
    width: 80%;
    background-color: rgba(28, 54, 53,0.406);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.c_flavor, .c_collection {
    text-align: left;
    width: 75%;
    /* background-color: red; */
}
.c_price, .collection_price {
    text-align: right;
    width: 25%;
    /* background-color: blue; */
}
.c_item p{
    /* display: flex; 
    justify-content: space-between; */
    /* background-color: red; */
    display: inline-block;
    font-weight: 400;
}

.col_item p {
    display: inline-block;
    /* background-color: green; */
}
