/* header elements */
h1,h2,p {
    text-align: center;
    color: #ffff;
}
body {
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.coffeeMenu {
  width: 80%;
  background-color: #1C3635;
  margin-left: auto;
  margin-right: auto;
}
.c_flavor {
    text-align: left;
    width: 50%;
}
.c_price {
    text-align: right;
    width: 50%;
}
.c_item p{
    /* display: flex; 
    justify-content: space-between; */
    display: inline-block;
    background-color: red;
}